#admin .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background .5s;
}

#admin .background.red {
    background: #f44336;
}

#admin .background.blue {
    background: #3F51B5;
}

#admin #back-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    font-size: 50px;
    color: #BDBDBD;
    cursor: pointer;
    transition: color .2s;
}

#admin #back-button:hover {
    color: #424242;
}

#admin h1 {
    margin: 0;
    text-align: center;
}

#admin #gameBoard {
    position: fixed;
    top: 0;
    left: 0;
    height: 70vh;
    width: 80vw;
    margin: 10vh 10vw;
    overflow: hidden;
}

#admin .card {
    font-size: 20px;
    text-align: center;
    width: 20%;
    height: 20%;
    float: left;
}

#admin .card.selected {
    text-decoration: line-through;
}

#admin .card div {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0E0E0;
    border-radius: 10px;
    cursor: pointer;
}

#admin .card div.blue {
    background: #7986CB;
}

#admin .card div.red {
    background: #e57373;
}

#admin .card div.black {
    background: black;
    color: white;
}

#admin .btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px 50px;
    width: calc(100% - 100px);
    overflow: hidden;
    border-radius: 5px;
}

#admin .btn {
    padding: 10px 0;
    background: #b71c1c;
    width: 50%;
    float: left;
    color: white;
    font-size: 20px;
    text-align: center;
    transition: background .2s;
    cursor: pointer;
}

#admin .btn:hover {
    background: #c62828;
}